# Employee.json

In [10]:
import json

employe_1 = '{"Aadhya": ["28-05-2000", "5.2", "DataScience"]}'
employe_2 ='{"Amaya":["15-02-1995","5.5 inch","uttarpradesh"]}'
employe_3='{"Ashwin":["02-05-1999","5.8 inch","Himchalpradesh"]}'
employe_4='{"Aman":["27-08-1996","5.6 inch","Andhrapradesh"]}'
employe_5='{"Arha":["03-10-2001","5.6 inch","Arunchalpradesh"]}'
    
list_1=json.loads(employe_1)
list_2=json.loads(employe_2)
list_3=json.loads(employe_3)
list_4=json.loads(employe_4)
list_5=json.loads(employe_5)


print(list_2,list_1,list_3,list_4,list_5)

{'Amaya': ['15-02-1995', '5.5 inch', 'uttarpradesh']} {'Aadhya': ['28-05-2000', '5.2', 'DataScience']} {'Ashwin': ['02-05-1999', '5.8 inch', 'Himchalpradesh']} {'Aman': ['27-08-1996', '5.6 inch', 'Andhrapradesh']} {'Arha': ['03-10-2001', '5.6 inch', 'Arunchalpradesh']}

# 2. Create a dictionary of any 7 Indian states and their capitals. Write this into a JSON file.

In [2]:
import json

state1 = {"state" : "Himachal pradesh",
        "capital":"shimla"}
state2 ={"state" : " Arunachal pradesh",
     "capital":"Itanagar"}
state3 = {"state" : "Madhya pradesh",
       "capital":"Bhopal"}
state4 = {"state" : "Uttar pradesh",
     "capital":"Lucknow" }
state5 ={"state" : "Andhra pradesh",
     "capital":"amaravati"}
state6 ={"state":"Telangana",
         "capital":" Hyderabad"}
state7 = {"state" :"westbengal",
    "capital":"kolkata"}
    


states ={
    "state1":state1,
    "state2":state2,
    "state3":state3,
    "state4":state4,
    "state5":state5,
    "state6":state6,
    "state7":state7
}

y=json.dumps(states)
print(y)

{"state1": {"state": "Himachal pradesh", "capital": "shimla"}, "state2": {"state": " Arunachal pradesh", "capital": "Itanagar"}, "state3": {"state": "Madhya pradesh", "capital": "Bhopal"}, "state4": {"state": "Uttar pradesh", "capital": "Lucknow"}, "state5": {"state": "Andhra pradesh", "capital": "amaravati"}, "state6": {"state": "Telangana", "capital": " Hyderabad"}, "state7": {"state": "westbengal", "capital": "kolkata"}}

# Assignment-2

In [3]:
class Dog:

        def __init__(self,name,age,coatcolour):
            self.name=name
            self.age= age
            self.coatcolour=coatcolour
            self.height=5.2
        def description(self):
            self.name
            self.age
            print( "my name is : ",self.name)
            print("age: ",self.age)
        def get_info(self):
            self.coatcolour
            print("my coatcolour :", self.coatcolour)
class jackrussellTerrier(Dog):
          
        def __init__(self,weight):
            Dog.__init__(self,"jack",5,"blue")
            self.weight=30
            print("weight:",self.weight)
            print("height :",self.height)
class Bulldog(Dog):
    
       def __init__(self):
        Dog.__init__(self,"tom",8,"cyan")
        jackrussellTerrier.__init__(self,30)
        self.height=5.3
        print("Height:",self.height)

In [4]:
d1=Dog("tommy",3,"red")

In [5]:
d1.description()
d1.get_info()

my name is :  tommy
age:  3
my coatcolour : red

In [6]:
d2=jackrussellTerrier(30)
d2.description()
d2.weight
d2.height

weight: 30
height : 5.2
my name is :  jack
age:  5

5.2

In [7]:
d3=Bulldog()
d3.description()
d3.weight

weight: 30
height : 5.2
Height: 5.3
my name is :  jack
age:  5

30